{% extends "layout.html" %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'fieldposition.js') }}"></script>

<div class="field-body">
    <div class="field-container">
        <img class="field-image" src="{{ url_for('static', filename='images/field-diagram.png') }}" alt="football field"> 

        <div class="zone zone-1"></div>
        <div class="zone zone-2"></div>
        <div class="zone zone-3"></div>
        <div class="zone zone-4"></div>
        <div class="zone zone-5"></div>
    </div>
    <div class="field-info">
    </div>
    <div class="bottom-buttons-Container">
        <a href="/learn">
            <button class="bottom-buttons">Go Back</button>
        </a>
        <a href="/learn">
            <button class="bottom-buttons">Next</button>
        </a>
    </div>
</div>

{% endblock %}