{% extends "layout.html" %}

{% block content %}
<div class="middle-container">
    <h1 class="middle-center-text">
        In American football, the offense gets four chances (called downs) to move the ball 10 yards. If they succeed, they earn a new set of downs and keep going to try to score a touchdown for 7 points.
    </h1>
</div>

<div class="bottom-buttons-Container">
    <a href="/home">
        <button class="bottom-buttons">Go Back</button>
    </a>
    <a href="/football101-options">
        <button class="bottom-buttons">Next</button>
    </a>
</div>
{% endblock %}
