{% extends "layout.html" %}

{% block content %}

<style>
.footballmodal {
  display: none; 
  position: fixed;
  z-index: 1000;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5); 
}

.modal-content {
  background-color: #1f2c4c;
  margin: auto;
  padding: 20px;
  border: 2px solid #888;
  width: 50%;
  border-radius: 10px;
}
.football101text{
    font-size: 20px;
    font-weight: bold;
}

</style>

<script src="static/football101-options.js"></script>
<br><br>
<div class="container">
    <div class="row middle-center-text darkGrey">
        On 4th down, coaches must choose between three options:
    </div>

    <div class="row">
        <div class="col-4">
            <button  id="goForItBtn" class="football101buttons"><img class="img-resize" src="/static/images/go-for-it.png"></button>
        </div>
        <div class="col-4">
            <button id="fieldGoalBtn" class="football101buttons"><img class="img-resize" src="/static/images/FieldGoal.png"></button>
        </div>
        <div class="col-4">
            <button id="puntBtn" class="football101buttons"><img class="img-resize" src="/static/images/Football.png"></button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-4 middle-center-text darkGrey">
            Go For It 
        </div>
        <div class="col-4 middle-center-text darkGrey">
            Kick a FG 
        </div>
        <div class="col-4 middle-center-text darkGrey">
            Punt Kick 
        </div>
    </div>
    
    <div class="row">
        <div class="col-4 lightGrey football101text">
            Try to gain the yards and reset to 1st down
        </div>
        <div class="col-4 lightGrey football101text">
            Take a shot at 3 points if close enough
        </div>
        <div class="col-4 lightGrey football101text">
            Kick it deep to give the other team worse field position
        </div>
    </div>
</div>

<div class="bottom-buttons-Container">
    <a href="/football101" class="back-button">Go Back</a>
    <a href="/learn" class="back-button">Next</a>
</div>

<!-- Modals Section -->
<div id="goForItModal" class="footballmodal">
    <div class="modal-content">
      <span class="close" id="closeGoForIt"></span>
      <img src="static/images/goforit.gif" alt="Go for it">
    </div>
    </div>
    
    <div id="fieldGoalModal" class="footballmodal">
    <div class="modal-content">
      <span class="close" id="closeFieldGoal"></span>
      <img src="static/images/FieldGoal.gif" alt="Field Goal">
    </div>
    </div>
    
    <div id="puntModal" class="footballmodal">
    <div class="modal-content">
      <span class="close" id="closePunt"></span>
      <img src="static/images/punt.gif" alt="Punt">
    </div>
</div>
    
{% endblock %}

