{% extends "layout.html" %}

{% block content %}

<script src="static/downsimulator.js"></script>
<div class="middle-container">
    <h1 class="middle-center-text lightGrey">
        In American football, the <span class="darkGrey">offense</span> gets <span class="darkGrey">four chances</span> (called <span class="darkGrey">downs</span>) to move the ball <span class="darkGrey">10 yards</span>. If they succeed, they earn a new set of downs and keep going to try to score a <span class="darkGrey">touchdown</span> for 7 points.
    </h1>
</div>
<div>
    <div id="downDisplay" class="darkGrey">1st Down & 10 yards to go</div>
    <button id="actionButton" class="back-button lightGrey">Next Play</button>
</div>

<div id="field">
    <div>
        <img src="{{ url_for('static', filename='images/footballplayer.png') }}" id="runningback" alt="Football Player">
    </div>
</div>

<div class="bottom-buttons-Container">
    <a href="/home" class="back-button">Go Back</a>
    <a href="/football101-options" class="back-button">Go Back</a>
</div>
{% endblock %}
