{% extends "layout.html" %}


{% block content %}

<div class="home-page">
    <div class="home-buttons">
        <a href="/football101" class="home-btn lightGrey">
            <img src="{{ url_for('static', filename='icons/football.svg') }}" alt="Football Icon">
            Football 101
        </a>

        <a href="/learn" class="home-btn lightGrey">
            <img src="{{ url_for('static', filename='icons/learn.svg') }}" alt="Learn Icon">
            Learn Mode
        </a>

        <a href="/summary" class="home-btn lightGrey">
            <img src="{{ url_for('static', filename='icons/books.svg') }}" alt="Summary Icon">
            Summary
        </a>

        <a href="/quiz" class="home-btn lightGrey">
            <img src="{{ url_for('static', filename='icons/quiz.svg') }}" alt="Quiz Icon">
            Try the Quiz
        </a>
    </div>

    <a href="/" class="back-button">Go Back</a>
</div>

{% endblock %}

