{% extends "layout.html" %}

{% block content %}

<div class="learn-page">
    <h2 class="darkGrey" style="font-size: 50px;font-weight:bold;">
        What should a coach consider on 4<sup>th</sup> down?
      </h2>
      <h3 class="lightGrey" style="font-size: 34px; font-weight: bold;">
        Click on each of the following aspects to visualize the consideration:
      </h3>
      

    <div class="learn-grid">
        <a href="/learn/field-position" class="learn-card {% if 'field-position' in visited %}visited{% endif %}">
            <h3>Field Position</h3>
            <img src="{{ url_for('static', filename='icons/field_position.png') }}" alt="Field Position">
        </a>

        <a href="/learn/yards-to-go" class="learn-card {% if 'yards-to-go' in visited %}visited{% endif %}">
            <h3>Yards to Go</h3>
            <img src="{{ url_for('static', filename='icons/yards_slidebar.png') }}" alt="Yards to Go">
        </a>

        <a href="/learn/time-score" class="learn-card {% if 'time-score' in visited %}visited{% endif %}">
            <h3>Time Left & Score</h3>
            <img src="{{ url_for('static', filename='icons/time_left_and_score.png') }}" alt="Time & Score">
        </a>

        <a href="/learn/timeouts" class="learn-card {% if 'timeouts' in visited %}visited{% endif %}">
            <h3>Timeouts</h3>
            <img src="{{ url_for('static', filename='icons/timeouts.png') }}" alt="Timeouts">
        </a>
    </div>

    <div class="bottom-buttons-Container">
        <a href="/home" class="bottom-buttons">Go Back</a>
        <a href="/learn/finished" class="bottom-buttons">Next</a>
    </div>
</div>

{% endblock %}
