{% extends "layout.html" %}

{% block content %}
<div class="timeouts-section text-center py-5">
    <h2 class="mb-4">This is why timeouts matter.</h2>
    <p class="lead"><strong>They stop the clock and give you extra opportunities.</strong></p>
    <p class="lead">In close games, one timeout can be the difference between losing and winning.</p>

    <img src="{{ url_for('static', filename='images/trophy.png') }}" alt="Trophy" class="img-fluid mt-4" style="max-width: 150px;">

    <div class="bottom-buttons-Container">
        <a href="/learn" class="bottom-buttons">Go Back</a>
        <a href="/learn/finished" class="bottom-buttons">Next</a>
    </div>
    
</div>
{% endblock %}
